<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to the Droid Manager</title>
    <link rel="stylesheet" type="text/css" href="/robot/dashboard.css">
  </head>
  <body>
    <header>
    <div class="fade"></div>
    <section class="star-wars">

      <div class="crawl">

        <div class="title">
          <h1>Welcome to the Droid World</h1>
        </div>

        <p>If you're here then you know you need a droid by your side in a period of galactic civil war. Rebellion spaceships, striking from a hidden base, have won their first victory against the evil Galactic Empire.</p>
        <p>During the battle, Rebel spies managed to steal secret plans to the Empire’s ultimate weapon, the DEATH STAR, an armored space station with enough power to destroy an entire planet.</p>
        <p>With your one-of-kind droid, you can help Princess Leia save her people and restore freedom to the galaxy…</p>

      </div>

    </section>

    </header>
    <ul>
      <li><a href="/robots">Droid Inventory</a></li>
      <li><a href="/robots/new">New Droid</a></li>
    </ul>

    <audio autoplay>
      <source src="star_wars.ogg" type="audio/ogg">
    </audio>

		<div class="container">
			<div class="content clearfix">
				<div class="cube-container">
					<div class="photo-cube">
						<img class="front" src="https://img1.etsystatic.com/118/0/10464274/il_fullxfull.1014091075_iyzw.jpg" alt="">
						<div class="back photo-desc">
							<div class="frame">
								<h3>The Imperial Force</h3>
								<p>These are the droids you’re looking for.</p>
								<a href="/robots/new" class="button">Build</a>
							</div>
						</div>
						<img class="left" src="https://bookcollect.files.wordpress.com/2014/05/1dc96-dkpublishing-starwars-blueprintstheultimatecollection_9_800x564.jpg" alt="">
						<img class="right" src="https://cdn2.f-cdn.com/contestentries/538718/19796961/57820a5d9e79e_thumb900.jpg" alt="">
					</div>
				</div>

				<div class="cube-container">
					<div class="photo-cube">
						<img class="front" src="http://gdurl.com/A2BF" alt="">
						<div class="back photo-desc">
							<div class="frame">
								<h3>Droid Inventory</h3>
								<p>These are the droids you’re looking for.</p>
								<a href="/robots" class="button">View Droids</a>
							</div>
						</div>
						<img class="left" src="http://gdurl.com/VjHH" alt="">
						<img class="right" src="http://gdurl.com/tvtR" alt="">
					</div>
				</div>

				<div class="cube-container">
					<div class="photo-cube">
						<img class="front" src="http://www.thinkgeek.com/images/products/additional/large/ispt_bb-8_blueprint_scarf_design.jpg" alt="">
						<div class="back photo-desc">
							<div class="frame">
								<h3>The Resistance</h3>
								<p>These are the droids you’re looking for.</p>
								<a href="/robots/new" class="button">Build</a>
							</div>
						</div>
						<img class="left" src="https://i0.wp.com/media2.slashfilm.com/slashfilm/wp/wp-content/images/R2D2TongBanner.jpg" alt="">
						<img class="right" src="http://i.imgur.com/9nmHN.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
  </body>
</html>